<div class="modal fade" id="modalCodigos" tabindex="-1" aria-labelledby="modalCodigosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: #121212; color: #f1f1f1;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalCodigosLabel">Chamados</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul id="listaCodigos" class="list-unstyled mb-0"></ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Preto para mostrar chamados -->
<div class="modal fade" id="modalChamadosExpirados" tabindex="-1" aria-labelledby="modalChamadosExpiradosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: #121212; color: #f1f1f1;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalChamadosExpiradosLabel">Chamados Expirados</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul id="listaChamados" style="list-style:none; padding-left: 0;"></ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Comentários da Pesquisa -->
<div class="modal fade" id="modalComentariosPesquisa" tabindex="-1" aria-labelledby="modalComentariosPesquisaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: #121212; color: #f1f1f1;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalComentariosPesquisaLabel">Comentários da Pesquisa</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul id="listaComentarios" style="list-style:none; padding-left: 0;"></ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>