   /* Fundo geral */
body {
  background-color: #121212;
  color: #f1f1f1;
}

/* Cards */
.card {
  background: #2f2f37;
  border: none;
  border-radius: 8px;
}

.card-header {
  background-color: #2a2a2a;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
}


.card-body-grafico {
  height: 280px;
}

.card-body-grafico-medio {
  height: 250px;
}

.card-body-sla {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 0.5rem;
    gap: 10px;
    min-height: 150px; /* garante espaço suficiente */
}

.sla-canvas {
    flex: 1 1 48%;
    max-width: 48%;
    height: 150px;  /* altura fixa proporcional */
}



/* Modais escuros */
.modal-dark {
  background-color: #121212;
  color: #f1f1f1;
}

.modal-scroll {
  max-height: 400px;
  overflow-y: auto;
}