############################
# ARQUIVO PRINCIPAL DA APP #
############################
app.py


#################################
# BYTECODE / CACHE DO PYTHON    #
#################################
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.cache/


############################
# AMBIENTES VIRTUAIS       #
############################
venv/
.venv/
env/
.env/
ENV/
.ENV/


############################
# LOGS E DEBUG             #
############################
*.log
*.log.*
logs/
log/
debug.log
debug_log.txt


############################
# BANCO DE DADOS DEV       #
############################
*.sqlite
*.sqlite3
*.db


############################
# BUILD / DIST             #
############################
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.so


############################
# FLASK / WERKZEUG         #
############################
instance/
.flaskenv


############################
# TESTES / COVERAGE        #
############################
.coverage
htmlcov/


############################
# IDEs / EDITORES          #
############################
.idea/
.vscode/
*.sublime-project
*.sublime-workspace


############################
# SISTEMA OPERACIONAL      #
############################
.DS_Store
Thumbs.db


########################################
# SEGREDOS / VARIÁVEIS DE AMBIENTE      #
########################################
.env
*.env.*
!*.env.example
