version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: dockerfile
    container_name: dataanalisys_container
    ports:
      - "9000:9000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=production
