/* Estilos aplicados APENAS à página com a classe .login-page */
body.login-page {
    font-family: Arial, sans-serif;
    background-color: #24262a;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

/* Container do formulário de login */
.login-page .Login {
    background-color: #3d4448;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

/* Título principal na página de login */
.login-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fdfcfc;
}

/* Campos de entrada na página de login */
.login-page input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

/* Botão na página de login */
.login-page button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%; /* Garante que o botão ocupe a largura do formulário */
}

.login-page button:hover {
    background-color: #0056b3;
}

/* Mensagem de erro flash na página de login */
.login-page .message-flash {
    color: red;
}