/* Aplica-se apenas à página de login */
body.login-page {
    background-color: #24262a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Container geral que envolve logo + formulário */
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 400px;
}



/* Formulário de login */
.Login {
    background-color: #3d4448;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* Título */
.Login h2 {
    font-size: 2rem;
    color: #ffffff;
}

/* Campos */
.Login input {
    background-color: #f8f9fa;
    color: #000;
}

.Login label {
    color: #777;
}

/* Botão */
.Login button {
    background-color: #ffc107;
    color: #000;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.Login button:hover {
    background-color: #e0a800;
}

/* Link de esqueci a senha */
.forgot-password {
    color: #ccc;
    font-size: 0.9em;
    text-decoration: none;
}

.forgot-password:hover {
    color: #fff;
    text-decoration: underline;
}
