.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.nav-links-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
}

.logout-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
