<!-- Modal Definir Metas -->
<div class="modal fade" id="modalDefinirMetas" tabindex="-1" aria-labelledby="modalDefinirMetasLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content" style="background-color: #1c1c1c; color: #fff;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalDefinirMetasLabel">Definir Metas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <form id="formMetas">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label">Reabertos</label>
              <input type="number" class="form-control bg-dark text-white" name="reabertos">
            </div>
            <div class="col-md-4">
              <label class="form-label">FCR</label>
              <input type="number" class="form-control bg-dark text-white" name="fcr">
            </div>
            <div class="col-md-4">
              <label class="form-label">TMA</label>
              <input type="number" class="form-control bg-dark text-white" name="tma">
            </div>
            <div class="col-md-4">
              <label class="form-label">TMS</label>
              <input type="number" class="form-control bg-dark text-white" name="tms">
            </div>
            <div class="col-md-4">
              <label class="form-label">TMIN</label>
              <input type="number" class="form-control bg-dark text-white" name="tmin">
            </div>
            <div class="col-md-4">
              <label class="form-label">TMAX</label>
              <input type="number" class="form-control bg-dark text-white" name="tmax">
            </div>
            <div class="col-md-4">
              <label class="form-label">SLA Atendimento Prazo</label>
              <input type="number" class="form-control bg-dark text-white" name="sla_atendimento_prazo">
            </div>
            <div class="col-md-4">
              <label class="form-label">SLA Resolução Prazo</label>
              <input type="number" class="form-control bg-dark text-white" name="sla_resolucao_prazo">
            </div>
            <div class="col-md-4">
              <label class="form-label">CSAT</label>
              <input type="number" class="form-control bg-dark text-white" name="csat">
            </div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="submit" class="btn btn-primary">Salvar Metas</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>