<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Escala</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <!-- CSS do Tabulator -->
  <link href="https://cdn.jsdelivr.net/npm/tabulator-tables@5.5.1/dist/css/tabulator.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_escala.css')}}">

</head>
{% include 'header/model-header.html' %}
<body>
    <br><br>

    <div class="row mb-2">
    <div class="col-auto">
        <div class="btn-group" role="group" aria-label="bottomVoltar">
           <a href="{{ url_for('home_bp.render_insights') }}" class="btn btn-outline-secondary">Voltar</a>
        </div>
    </div>
  </div><br><br>

  <div id="abas"></div>
  <div id="planilhas"></div><br>

   <div id="buttons-container">
    <button id="download-btn" class="download-btn">Download Planilha Aba Atual</button>
    <button id="download-original-btn" class="download-btn">Download Planilha Original</button>
  </div>

  <!-- JSON puro com os dados das abas -->
  <script type="application/json" id="dados-json">
    {{ abas | tojson | safe }}
  </script>

  <!-- JS do Tabulator -->
  <script src="https://cdn.jsdelivr.net/npm/tabulator-tables@5.5.1/dist/js/tabulator.min.js"></script>

  <!-- JS do SheetJS para exportar Excel -->
  <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>

  {% include 'js/escala_js.html' %}

</body>
</html>
