{% extends "base_template.html" %}
{% block title %}Escala{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_escala.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/tabulator-tables@5.5.1/dist/css/tabulator.min.css" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="container-fluid my-4 px-5">

  <!-- Botão Voltar -->
  
  <br>
    <br>
      <br>
        <br>
          <br>

  <!-- Título -->
  <h1>Escala Suporte</h1>

  <!-- Card que envolve a tabela -->
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div id="abas"></div>
      <div id="planilhas"></div>
    </div>
  </div>

  {% if is_portal_admin %}
  <!-- Botões Download + Upload -->
  <div id="buttons-container" class="mt-3">
    <button id="download-btn" class="btn btn-primary me-2">Download Planilha Aba Atual</button>
    <button id="download-original-btn" class="btn btn-secondary me-2">Download Planilha Modelo</button>

    <!-- Botão e input para upload -->
    <label class="btn btn-success mb-0" for="upload-file" style="cursor: pointer;">
      <i class="bi bi-upload"></i> Importar Planilha Atualizada
    </label>
    <input type="file" id="upload-file" accept=".xls,.xlsx,.xlsm" style="display:none" />
  </div>
{% endif %}

</div>
{% endblock %}

{% block scripts %}
    <script type="application/json" id="dados-json">
        {{ abas | tojson | safe }}
    </script>
    <script src="{{ url_for('static', filename='js/escala.js') }}"></script>
{% endblock %}
