{% extends "base_template.html" %}
{% block title %}Eventos{% endblock %}

{% block content %}


<div class="container-fluid my-4 px-5">
  <!--<div class="row mb-2">
    <div class="col-auto">
      <div class="btn-group" role="group" aria-label="bottomVoltar">
        <a href="{{ url_for('home_bp.render_insights') }}" class="btn btn-outline-secondary">Voltar</a>
      </div>
    </div>
  </div>-->
  <br>
    <br>
        <br>
            <br>
                <br>
    <h1 class="mb-4">Eventos</h1>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card border-secondary h-100">
                <div class="card-header">
                    <h5 class="mb-0">Eventos de Falha</h5>
                </div>

                <div class="card-body">

                    <form id="formEventosFalha">
                        <div class="row mb-3">
                          <div class="mb-3">
                            <label for="falha_id" class="form-label">Selecione o ID do Evento</label>
                            <select class="form-select" id="falha_id", name="falha_id" required>
                                <option value="1">ID 1 - SP1</option>
                                <option value="2">ID 2 - SP2</option>
                                <option value="3">ID 3 - TLS</option>
                                <option value="4">ID 4 - Portal</option>
                                <option value="5">ID 5 - IPSEC</option>
                            </select>
                          </div>

                          <div class="mb-3">
                              <label for="chamado_id" class="form-label">ID do Chamado</label>
                              <input type="text" 
                                    class="form-control" 
                                    id="chamado_id" 
                                    name="chamado_id" 
                                    minlength="10" 
                                    maxlength="10" 
                                    pattern=".{10}" 
                                    required>
                          </div>


                            <div class="col-6">
                                <label for="data_evento" class="form-label">Data Evento</label>
                                <input type="date" class="form-control" id="data_evento" name="data_evento" required>
                            </div>

                            <div class="col-6">
                                <label for="hora_evento" class="form-label">Hora Evento</label>
                                <input type="time" class="form-control" id="hora_evento" name="hora_evento" required>
                            </div>
                            
                            <div class="col-12">
                                  <label class="form-label">Eventos</label>

                                  <select class="form-select" 
                                          id="eventos_registrados" 
                                          name="eventos_registrados" 
                                          multiple 
                                          size="4">
                                  </select>

                                  <small class="text-muted">
                                      Segure CTRL para selecionar múltiplos eventos.
                                  </small>
                              </div>

                            
                        </div>


                        <button type="button" class="btn btn-primary mt-2" onclick="registrarEventoFalha()">Registrar Evento</button>
                        <button type="button" class="btn btn-danger mt-2" onclick="limparEvento()">Limpar Evento</button>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/eventos.js') }}"></script>
{% endblock %}
