{% extends "base_template.html" %}
{% block title %}Insights{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_insights.css') }}">
    <style>
        /* Carrossel - setas ajustadas */
        #carouselGraficos .carousel-control-prev,
        #carouselGraficos .carousel-control-next {
            width: 40px; top: 50%; transform: translateY(-50%); z-index: 10;
        }
        #carouselGraficos .carousel-control-prev { left: -20px; }
        #carouselGraficos .carousel-control-next { right: -20px; }
        #carouselGraficos .carousel-control-prev-icon,
        #carouselGraficos .carousel-control-next-icon {
            background-color: rgba(0,0,0,0.6); border-radius: 50%; padding: 10px;
            width: 35px; height: 35px; background-size: 50% 50%;
        }
        #carouselGraficos .carousel-inner .row { padding-left: 15px; padding-right: 15px; }

        /* Botões de filtro */
        .btn-outline-secondary { border-color: #555; color: #ddd; }
        .btn-outline-secondary:hover, .btn-outline-secondary.active { background-color: #333; color: #fff; border-color: #777; }

        /* Botões de operadores e grupos */
        .btn-outline-primary { border-color: #3f51b5; color: #9fa8da; }
        .btn-outline-primary:hover, .btn-outline-primary.active { background-color: #3f51b5; color: #fff; }
    </style>
{% endblock %}


{% block content %}
<div class="container-fluid my-4 px-5">


  <!-- Botão mestre para ocultar/mostrar os botões de Operadores/Grupos -->
  <div class="row mb-2">
    <div class="col-12 text-center">
      <button class="btn btn-outline-light btn-sm" id="toggle-botoes">
        <i class="bi bi-eye-slash me-1"></i>
      </button>
    </div>
  </div>

  <!-- Botões de operadores -->
  <div class="row mb-4">
    <div class="col-12 mb-3"> <!-- Adicionei 'mb-3' aqui -->
      <div class="d-flex flex-wrap gap-2 justify-content-center d-none" id="botoes-operadores">
        <button class="btn btn-outline-primary operador-btn active" data-operador="">
          <i class="bi bi-arrow-bar-right"></i>
        </button>
      </div>
    </div>
    
    <div class="col-12 mb-3"> <!-- Adicionei 'mb-3' aqui também -->
      <div class="d-flex flex-wrap gap-2 justify-content-center d-none" id="botoes-grupos">
        <button class="btn btn-outline-primary grupos-btn active" data-grupos="">
          <i class="bi bi-people-fill"></i>
        </button>
      </div>
    </div>
  </div>


  <!-- Botões de filtro de período -->
  <div class="row justify-content-center mb-4">
    <div class="col-auto">
      <div class="btn-group">
        <button class="btn btn-outline-secondary filtro-btn" data-dias="7">7 dias</button>
        <button class="btn btn-outline-secondary filtro-btn" data-dias="15">15 dias</button>
        <button class="btn btn-outline-secondary filtro-btn" data-dias="30">30 dias</button>
        <button class="btn btn-outline-secondary filtro-btn" data-dias="90">90 dias</button>
        <button class="btn btn-outline-secondary filtro-btn" data-dias="180">180 dias</button>
      </div>
    </div>
  </div>

  <!-- Cards principais -->
  <div class="row g-3">
    <div class="col">
      <div class="card h-100">
        <div class="card-body card-body-compact">
           <div class="card-body card-body-center">
              <h6>Chamados</h6></div>
                <div class="info-item">
                  <span>Criados</span>
                    <span class="value" id="chamados-abertos">0</span>
                </div>
                <div class="info-item">
                  <span>Resolvidos</span>
                <span class="value" id="chamados-finalizados">0</span>
              </div>
              <div class="info-item">
                <span>Abertos</span>
                <span class="value text-danger">
                  <a href="#" onclick="mostrarCodigosChamadosAbertos('Chamados em Aberto', codigosEmAberto)">
                    <span id="ChamadosEmAbertoSuporte">0</span>
                  </a>
                </span>
              </div>

              <div class="info-item">
                <span>Reabertos</span>
                <span class="value text-white">
                  <a href="#" onclick="mostrarChamadosOperador('Chamados Reabertos do Operador', chamadosReabertosCodigos)">
                    <span id="chamado_reaberto">0</span></a> / <span id="percentual_reaberto">0</span>
                    <!--<i id="icone_reaberto" class="bi ms-2 fs-4"></i>-->
                </span>
              </div>

              <div class="info-item">
                <span>FCR</span>
                <span class="value text-white">
                  <a href="#" onclick="mostrarChamadosOperador('Chamados com FCR do Operador', chamadosFcrCodigos)">
                <span id="chamado_fcr">0</span></a> / <span id="percentual_fcr">0</span>
                </span>
              </div>

            </div>
          </div>
        </div>



  <!-- Ligações -->
    <div class="col">
      <div class="card  h-100">
        <div class="card-body card-body-compact">
          <div class="card-body card-body-center">
          <h6>Ligações</h6></div>
          <div class="info-item">
            <span>Atendidas</span>
            <span class="value" id="ch_atendidas">0</span>
          </div>
          <div class="info-item">
            <span>Efetuadas</span>
            <span class="value" id="ch-efetuadas">0</span>
          </div>
          <div class="info-item">
            <span>Perdidas</span>
            <span class="value" id="ch_naoatendidas">0</span>
          </div>
          <div class="info-item">
            <span>Transferidas</span>
            <span class="value" id="ch_transferidas">0</span>
          </div>
        </div>
      </div>
    </div>

<!-- Card TMA/TMS -->
<div class="col">
  <div class="card  h-100">
    <div class="card-body card-body-compact">
      <!-- Título principal -->
      <div class="card-body card-body-center">
        <h6>Tempo Médio</h6>
      </div>

      <!-- Chamados -->
      <h6 class="text-center mb-2">Chamados</h6>
      <div class="info-item">
        <span class="text-warning">TMA</span>
          <span class="value">
            <span id="percentual-tma">0</span>
            <!--<i id="icone_tma" class="bi ms-2 fs-4"></i>-->
          </span>
      </div>
      <div class="info-item">
        <span class="text-success">TMS</span>
          <span class="value">
            <span id="percentual-tms">0</span>
            <!--<i id="icone_tms" class="bi ms-2 fs-4"></i>-->
          </span>
      </div>

      <!-- Ligações -->
      <h6 class="text-center mt-3 mb-2">Ligações</h6>
      <div class="info-item">
        <span class="text-success">TMIN</span>
        <span class="value" id="percentual-tma-ligacoes">0</span>
      </div>
      <div class="info-item">
        <span class="text-danger">TMAX</span>
        <span class="value" id="percentual-tms-ligacoes">0</span>
      </div>

    </div>
  </div>
</div>

<div class="col">
  <div class="card h-100">
    <div class="card-body card-body-compact">
      
      <!-- Título principal -->
      <div class="card-body card-body-center">
        <h6>SLA</h6>
      </div>

      <!-- Atendimento -->
      <h6 class="text-center mb-2">Atendimento</h6>
      <div class="info-item">
        <span class="text-danger">Expirados</span>
        <span class="value">
          <a href="#" onclick="mostrarCodigosSla('Atendimento Expirado', codigosAtendimento)">
            <span id="sla_atendimento_expirado">0%</span>
          </a>
        </span>
      </div>
      <div class="info-item">
        <span class="text-success">Compliance</span>
        <span class="value">
          <span id="sla_atendimento_prazo">0%</span>
          <!--<i id="icone_prazo_atendimento" class="bi ms-2 fs-4"></i>-->
        </span>
      </div>

      <!-- Resolução -->
      <h6 class="text-center mt-3 mb-2">Resolução</h6>
      <div class="info-item">
        <span class="text-danger">Expirados</span>
        <span class="value">
          <a href="#" onclick="mostrarCodigosSla('Resolução Expirada', codigosResolucao)">
            <span id="sla_resolucao_expirado">-</span>
          </a>
        </span>
      </div>
      <div class="info-item">
        <span class="text-success">Compliance</span>
        <span class="value">
          <span id="percentual_prazo_resolucao">0%</span>
          <!--<i id="icone_prazo_resolucao" class="bi ms-2 fs-4"></i>-->
        </span>
      </div>

    </div>
  </div>
</div>







<!-- Pesquisa Satisfação -->
<div class="col">
  <div class="card  h-100 csat-card">
    <div class="card-body card-body-compact">

      <!-- Título principal centralizado -->
      <div class="card-body card-body-center">
        <h6>Satisfação</h6>
      </div>

      <!-- Métricas agrupadas horizontalmente -->
      <div class="row text-center">

        <!-- CSAT -->
      <div class="col">
        <h6 class="mb-2">CSAT</h6>
        <div class="info-item mb-1">
          <span class="text d-block">Satisfação</span>
          <span class="value" id="csat-percentual" style="cursor:pointer; text-decoration: underline;">0%</span>
        </div>
        <div class="info-item">
          <span class="text d-block">Total Avaliado</span>
          <span class="value" id="total-avaliado">0</span>
        </div>
      </div>


        <!-- CES -->
        <div class="col">
          <h6 class="mb-2">CES</h6>
          <div class="info-item mb-1">
            <span class="text d-block">Nota</span>
            <span class="value" id="ces-nota">0</span>
          </div>

          <div class="info-item">
            <span class="text d-block">Classificação</span>
            <span class="value" id="ces-descricao">-</span>
          </div>
        </div>

        <!-- NPS -->
        <div class="col">
          <h6 class="mb-2">NPS</h6>
          <div class="info-item mb-1">
            <span class="text d-block">Média Ponderada</span>
            <span class="value" id="nps-retorno">0</span>
            
          </div>
          <div class="info-item">
            <span class="text d-block">Classificação</span>
            <span class="value" id="nps-null">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





    

    <!-- Gráficos em Grid (sem carrossel) -->
<div class="row mt-3 gx-4">

    <!-- Linha 1 -->
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header text-center">Abertos vs Resolvidos <i class="bi bi-graph-up"></i></div>
            <div class="card-body d-flex flex-column align-items-center" style="height: 300px;">
                <canvas id="LinhaAbertosResolvidosAdminChart"></canvas>
                <div id="resumoAdminAbertosResolvidos" class="text-center text-white small d-flex gap-3 mb-0">
                    <p class="mb-1"><strong>Total Abertos:</strong> <span id="adminTotalAbertos">0</span></p>
                    <p class="mb-1"><strong>Total Resolvidos:</strong> <span id="adminTotalResolvidos">0</span></p>
                    <p class="mb-1"><strong>Ativos:</strong> <span id="adminDiferenca">0</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header text-center">Abertos vs Status <i class="bi bi-pie-chart-fill"></i></div>
            <div class="card-body d-flex flex-column align-items-center" style="height: 300px;">
                <canvas id="statusChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header text-center">Tickets por Canal <i class="bi bi-sliders"></i></div>
            <div class="card-body d-flex flex-column align-items-center" style="height: 300px;">
                <canvas id="TicketsAdminCanalChart"></canvas>
            </div>
        </div>
    </div>

</div>

<!-- Linha 2 -->
<div class="row mt-3 gx-4">

    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header text-center">Tickets por Operador <i class="bi bi-ticket-detailed"></i></div>
            <div class="card-body d-flex flex-column align-items-center" style="height: 270px;">
                <canvas id="OperadorAtendimentoChart"></canvas>
            </div>
        </div>
    </div>

    <!-- SLA Suporte -->
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header text-center py-2">
                <small>SLA - Suporte</small> <i class="bi bi-alarm-fill"></i><br>
                <small>Atendimento / Resolução</small>
            </div>
            <div class="card-body p-2 d-flex justify-content-center align-items-center" style="height: 270px;">

                <div class="d-flex justify-content-center align-items-center" style="flex: 1; max-width: 50%;">
                    <canvas id="slaChart"></canvas>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="flex: 1; max-width: 50%;">
                    <canvas id="slaChart2"></canvas>
                </div>

            </div>
        </div>
    </div>

    <!-- SLA Grupo -->
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header text-center py-2">
                <small>SLA - Por Grupo</small> <i class="bi bi-alarm-fill"></i><br>
                <small>Atendimento / Resolução</small>
            </div>
            <div class="card-body p-2 d-flex justify-content-center align-items-center" style="height: 270px;">

                <div class="d-flex justify-content-center align-items-center" style="flex: 1; max-width: 50%;">
                    <canvas id="slaGrupoChart"></canvas>
                </div>

                <div class="d-flex justify-content-center align-items-center" style="flex: 1; max-width: 50%;">
                    <canvas id="slaGrupoChart2"></canvas>
                </div>

            </div>
        </div>
    </div>

</div>


    <!-- Tops -->
    
  </div> 
</div>




<!-- Modal para mostrar os códigos -->
<div class="modal fade" id="modalCodigos" tabindex="-1" aria-labelledby="modalCodigosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: #121212; color: #f1f1f1;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalCodigosLabel">Chamados</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul id="listaCodigos" class="list-unstyled mb-0"></ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalChamadosExpirados" tabindex="-1" aria-labelledby="modalChamadosExpiradosLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: #121212; color: #f1f1f1;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalChamadosExpiradosLabel">Chamados Expirados</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul id="listaChamados" class="list-unstyled mb-0"></ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalComentariosPesquisa" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg"><div class="modal-content" style="background-color: #121212; color: #f1f1f1;"><div class="modal-header border-0"><h5 class="modal-title">Comentários da Pesquisa</h5><button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button></div><div class="modal-body" style="max-height: 400px; overflow-y: auto;"><ul id="listaComentarios" style="list-style:none; padding-left: 0;"></ul></div><div class="modal-footer border-0"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button></div></div></div>
</div>

<!-- Modal exclusivo para SLA por Grupo -->
<div class="modal fade" id="modalChamadosGrupos" tabindex="-1" aria-labelledby="modalChamadosGruposLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background-color: #121212; color: #f1f1f1;">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="modalChamadosGruposLabel">Chamados Expirados - Por Grupo</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
        <ul id="listaChamadosGrupos" class="list-unstyled mb-0"></ul>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/insights.js') }}"></script>


{% endblock %}

