{% extends "base_template.html" %}

{% block body_class %}register-page{% endblock %}

{% block title %}Registro de colaborador{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}" />
{% endblock %}


{% block content %}
<br>
  <br>
    <br>
      <br>
        <br>
          <br>
            <br>
  <div class="container-fluid my-4 px-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm rounded-4">
          <div class="card-header text-center">
            <h5>Alteração de Senha</h5>
          </div>
          <div class="card-body">
            <form id="form-alterar-senha">
              <div class="mb-3">
                <label for="edit-username-colaborador" class="form-label">Usuário</label>
                <input type="text" class="form-control" id="edit-username-colaborador" name="username" required placeholder="Informe o seu username"/>
              </div>

              <div class="mb-3">
                <label for="edit-senha-colaborador" class="form-label">Senha</label>
                <input type="password" class="form-control" id="edit-senha-colaborador" name="senha" required placeholder="Informe a senha desejada" />
              </div>

              <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}

