{% extends "base_template.html" %}
{% block title %}Relatórios{% endblock %}

{% block content %}
<br>
    <br>
        <br>
            <br>
<div class="container mt-5">
    <h1 class="mb-4">Relatórios</h1>

    <div class="row">

        <!--====================== CARD 1 - CONTROLE DE ACESSO ======================-->
        <div class="col-md-6 mb-4">
            <div class="card border-secondary h-100">
                <div class="card-header">
                    <h5 class="mb-0">Controle de Acesso</h5>
                </div>

                <div class="card-body">

                    <form id="formControleAcesso">
                        <div class="row mb-3">
                            
                            <div class="col-6">
                                <label for="data_acesso" class="form-label">Data Início</label>
                                <input type="date" class="form-control" id="data_acesso" required>
                            </div>

                            <div class="col-6">
                                <label for="hora_acesso" class="form-label">Hora Início</label>
                                <input type="time" class="form-control" id="hora_acesso" required>
                            </div>

                            <div class="col-6">
                                <label for="data_acesso_fim" class="form-label">Data Fim</label>
                                <input type="date" class="form-control" id="data_acesso_fim" required>
                            </div>

                            <div class="col-6">
                                <label for="hora_acesso_fim" class="form-label">Hora Fim</label>
                                <input type="time" class="form-control" id="hora_acesso_fim" required>
                            </div>

                        </div>

                        <div class="mb-3">
                            <label for="operadorControle" class="form-label">Colaborador</label>
                            <select class="form-select" id="operadorControle" required>
                                <option value="">Selecione</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="leitorasSelect" class="form-label">Leitora Biométrica</label>
                            <select class="form-select" id="leitorasSelect" required>
                                <option value="">Selecione</option>
                                <option value="Todos">Todos</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-success mt-2" onclick="gerarPDF()">Gerar PDF</button>
                    </form>

                </div>
            </div>
        </div>

        <!--====================== CARD 2 - EVENTOS DE FALHA ======================-->
        <div class="col-md-6 mb-4">
            <div class="card border-secondary h-100">
                <div class="card-header">
                    <h5 class="mb-0">Eventos de Falha</h5>
                </div>

                <div class="card-body">

                    <form id="formEventosFalha">
                        <div class="row mb-3">
                          <div class="mb-3">
                            <label for="falha_id" class="form-label">Selecione o ID do Evento</label>
                            <select class="form-select" id="falha_id", name="falha_id" required>
                                <option value="1">ID 1 - SP1</option>
                                <option value="2">ID 2 - SP2</option>
                                <option value="3">ID 3 - TLS</option>
                                <option value="4">ID 4 - Portal</option>
                                <option value="5">ID 5 - IPSEC</option>
                            </select>
                          </div>

                          <div class="mb-3">
                              <label for="chamado_id" class="form-label">ID do Chamado</label>
                              <input type="text" 
                                    class="form-control" 
                                    id="chamado_id" 
                                    name="chamado_id" 
                                    minlength="10" 
                                    maxlength="10" 
                                    pattern=".{10}" 
                                    required>
                          </div>


                            <div class="col-6">
                                <label for="data_evento" class="form-label">Data Evento</label>
                                <input type="date" class="form-control" id="data_evento" name="data_evento" required>
                            </div>

                            <div class="col-6">
                                <label for="hora_evento" class="form-label">Hora Evento</label>
                                <input type="time" class="form-control" id="hora_evento" name="hora_evento" required>
                            </div>
                            
                            <div class="col-12">
                                  <label class="form-label">Eventos</label>

                                  <select class="form-select" 
                                          id="eventos_registrados" 
                                          name="eventos_registrados" 
                                          multiple 
                                          size="4">
                                  </select>

                                  <small class="text-muted">
                                      Segure CTRL para selecionar múltiplos eventos.
                                  </small>
                              </div>

                            
                        </div>


                        <button type="button" class="btn btn-primary mt-2" onclick="registrarEventoFalha()">Registrar Evento</button>
                        <button type="button" class="btn btn-danger mt-2" onclick="limparEvento()">Limpar Evento</button>

                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/relatorios.js') }}"></script>
<script src="{{ url_for('static', filename='js/eventos.js') }}"></script>
{% endblock %}
